* {
  margin: 0;
  padding: 0;
}

a:link {font-weight: bold; text-decoration: none; color: #ffffff}
a:visited {font-weight: bold; text-decoration: none; color: #ffffff}
a:hover {font-weight: bold; text-decoration: none; color: #ffffff}
a:active {font-weight: bold; text-decoration: none; color: #ffffff}

body {
  font-family: Helvetica;
  font-size: 30px;
  color: #fff;
  background: #111;
}

table {
	font-size: 0.8em;
	border: 4px solid #555753;
}

th, td {
	border: 2px solid #555753;
	padding: 5px;
	margin: 0;
}

pre {
  font-family: monospace;
  font-size: 0.8em;
}

blockquote {
  padding: 0 0 0 1em;
  font-size: 1.4em;
  font-family: Georgia, serif;
  font-style: italic;
}

ul {
  padding: 0 0 0 1em;
}

#slides {
  overflow: hidden;
  text-align: left;
}

#track {
  width: 1000000px;
  overflow: hidden;
}

#track > div {
  float: left;
  overflow: hidden;
}

#track > div .content {
  margin: 0 0.6em;
}

#track > div .content h1 {
  margin-bottom: 0.1em;
}

#track > div .content h1 strong {
  text-decoration: underline;
}

.svg {
       width: 90%;
//       doesn't appear to work for <object> in Safari -- kurt 2010/12/03
//       height: auto;
//       doesn't matter since CSS does appear to work on <object> height at all -- kurt 2010/12/03
//       See hardcoded <object ... width="90%" height="67%" in riterate/bin/riterate
       // 4/3 aspect?
       height: 67%;
}

.code {
	border: .2em solid #555753;
	background: #eeeeec;
        color: #111;
	padding: .2em;
	margin: .5em 0 .5em 0;
}

.code_output {
	border: .2em solid #555753;
	background: #eeeeec;
        color: #111;
	padding: .2em;
	margin: .5em 0 .5em 0;
}

.code_output_highlight {
	border: .2em solid @555753;
        background: #202040;
	color: #f0f020;
	padding: .2em;
	margin: .1em 0 .1em 0;
}

